export(CSI_plot)
export(CSI_step)
export(CSI)
export(initiate)
export(rcpp_hello_world)
export(run_sodi)
export(sodi_infectionsplot)
export(sodi_SItimepolot)
export(sodi_spatialplot)
import(Bolstad)
import(data.table)
import(ggplot2)
import(noamtools)
import(plyr)
import(reshape2)
import(spatstat)
importFrom(scales,rescale_none)
useDynLib(sodi)
