export(CSI_plot)
export(CSI)
export(initiate)
export(run_sodi)
export(sodi_infectionsplot)
export(sodi_SItimepolot)
export(sodi_spatialplot)
import(Bolstad)
import(data.table)
import(ggplot2)
import(noamtools)
import(plyr)
import(reshape2)
import(scales)
import(spatstat)
