export(CSI)
export(CSI_plot)
export(CSI_step)
export(default_parms)
export(initiate_old)
export(run_sodi)
export(run_sodi_rcpp)
export(sodi_SItimepolot)
export(sodi_infectionsdensplot)
export(sodi_infectionsplot)
export(sodi_spatialplot)
import(Bolstad)
import(data.table)
import(ggplot2)
import(plyr)
import(reshape2)
import(spatstat)
importFrom(plotrix,listDepth)
importFrom(scales,rescale_none)
useDynLib(sodi)
